<style>
  :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }

  .toolbar {
    z-index: 2;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      padding-top: 8px;
      padding-left: 30px;
      align-items: center;
      background-color: #10343d;
      color: white;
      font-weight: 600;
  }

.menu{
    z-index: 2;
    top: 68px;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    background-color: #fafafa;
    color: #1d4751;
    height: 100%;
    width: 15%;
}

  .body{
      background-color: #ffffff;
      position: absolute;
      align-items: flex-end;
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: row;
  }

  .img{
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
  }

  .mid-div{
    z-index: 0;
        align-self: center;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 60%;
      height: 100%;
  }

  .button{
      cursor: pointer;
      height: 40px;
      padding-top: 8px;
      margin-top: 3px;;
      padding-bottom: 3px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      padding-left: 15px;
      border-radius: 20px;
      background-color: #1d4751;
      color:  #e9fbff;
  }
  .button-selected{
      cursor: pointer;
      height: 40px;
      padding-top: 8px;
      margin-top: 3px;;
      padding-bottom: 3px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      padding-left: 15px;
      border-radius: 20px;
      background-color: #ffb14a;
      color:  #e9fbff;
  }
  .card {
        margin-top: 40px;
        max-width: 400px;
    }
    a {color:rgba(255, 255, 255, 0);} 
    a:visited {color:rgba(255, 255, 255, 0);}
    a:hover {color:rgba(255, 255, 255, 0);}
    a:active {color:rgba(255, 255, 255, 0);}
</style>

<div class="body" >

    <div class="toolbar" >
        <h2 *ngIf="!loading">Bem vindo, {{user.name}}!</h2>
      </div>
    <div class="menu">

        <h2 style="margin-top: 40px;" class="button-selected">Home</h2>
        <a routerLink="/meuscursos">
            <h2 class="button">Meus cursos</h2>
        </a>
        <a routerLink="/cartoes">
            <h2 class="button">Meus cartões</h2>
        </a>

    </div>
    <div class="mid-div">

        <div *ngFor="let curso of cursos">
            <mat-card class="card">
                <mat-card-header>
                  <mat-card-title>{{curso.nmCurso}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>{{curso.detCurso}}</p>
                </mat-card-content>
                <mat-card-actions> 
                  <button mat-button (click)="onMatricularClick(curso)">Matricular</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>

</div>